.interface-wrapper {
  width: 100%;
}

.interface-card {
  margin: 5%;
}

.current-debate-question {
  text-align: center;
}

.current-debate-status-wrapper {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.current-debate-status-wrapper  > * {
    margin: 1em;
}

.current-debator-status-header {
  background-color: #00BCD4;
  text-align: center;
  text-transform: uppercase;
  font-size:  1rem;
  font-weight: bold;
  padding: 1%;
  color: white;
}

.current-debate-header {
  width: 100%;
  text-align: center;
  background-color: #FF4081;
  color: white;
  text-transform: uppercase;
  font-size:  1.4rem;
  font-weight: bold;
  padding: 1%;
}

.vote-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.vote-header {
    font-size:  1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #00BCD4;
}

.vote-radio {
  padding: 10px;
}

.vote-radio > * {
  margin: 0;
  padding: 8%;
}

.vote-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vote-reason-header {
  width: 100%;
  background-color: #FF4081;
  color: white;
  text-transform: uppercase;
  font-size:  .8rem;
  padding: 2%;
}

.vote-reason-wrapper {
  width: 40%;
}

.vote-reason-input {
  width: 100% !important;
  margin: .5%;
}

.debators-results-wrapper {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.debator-argument-text {
    color: #FF4081;
    margin-right: 2%;
    width: 100%;
    font-weight: bold;
}

.current-versus-wrapper {
  font-size: 2rem;
  color: #FF4081;
  font-weight: bold;
}