.interface-wrapper {
  width: 100%;
}

.interface-card {
  margin: 5%;
}

.vote-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.debate-header {
    font-size:  1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1%;
    text-align: center;
    color: white;
    background-color: #00BCD4;
}

.vote-radio {
  padding: 10px;
}

.vote-radio > * {
  margin: 0;
}

.vote-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
