
.debate-card-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.DebateCardList-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

 .debate-card {
   text-align: center;
   text-decoration: none;
}

.itemcard-header > img {
    border-radius: 50%;
}

.item-card-wrapper {
    padding: 1%;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .item-card-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 960px) {
    .item-card-wrapper {
        width: 33%;
    }
}