
.debate-card-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.DebateCardList-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

 .debate-paper {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.debate-list {
  height: 5rem;
}