.title-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.title-wrapper a {
    line-height: 1;
    margin: 1% 0;
}

.headerbar-logo {
    width: 55px;
    height: auto;
}

.headerbuttonwrapper {
    align-items: center;
    display: flex;
    margin-left: 1rem;
    padding: 12px 0;
    width: 100%;
}

.headerbar-btns {
    line-height: 0;
    margin-right: 1rem;
}