.current-debate-wrapper {
    margin: 1rem; 
}

.tab-headline {
    font-size: 24px;
    padding-top: 16px;
    margin-bottom: 12px;
    font-weight: 400;
}

.debators-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.debators-wrapper > * {
    margin: 1em;
}

.debate-title-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.debate-time-wrapper {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.debator-reasoning {
    margin-left: 5%;
}

.debator-current-position {
    font-weight: bold;
    color: #FF4081;
}

.debate-details-span {
    font-weight: bold;
    color: #00BCD4;
}

/* .position-header > img {
    border-radius: 50%;
} */
